main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.stopwatch {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;

    width: 300px;
    height: 120px;
    padding: 30px;
    background-color: #27548A;
    border-radius: 15px;
}

.stopwatch > #display {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    font-size: 30px;
    font-weight: bolder;

    width: 250px;
    height: 50px;
    padding: 15px;
    border-radius: 10px;
    background-color: #FDFAF6;
}

.stopwatch > .button {
    margin-top: 20px;
}

#start-button {
    cursor: pointer;

}

#stop-button {
    cursor: pointer;
    margin-left: 30px;
    margin-right: 30px;
}

#reset-button {
    cursor: pointer;

}